@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

li{
  list-style: none;
}

.container{
  margin: 1rem;
}

.show{
  display: block;
}

/* heading */
.heading{
  height: 10vh;
  display: grid;
  align-items: center;
}

/* Buttons */
.button{
  display: grid;
}

.btn{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-weight: 500;
  margin: auto;
  background: transparent;
}

.add-book-btn:hover{
  background-color: aliceblue;
}

/* Cards */
.heading{
  text-align: center;
}

#cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(5, 1fr);
}

.card{
  text-align: center;
  margin: 1rem;
  background-color: rgb(17, 239, 150);
  border-radius: 1rem;
  padding: 1rem;
}

.card > * {
  margin: 3rem;
}

.card li{
  margin: 1rem;
}

/* FORM */
.form{
  text-align: center;
  margin: 2rem;
}

form{
  margin: auto;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 1rem;
}

.form .field{
  margin: 1rem;
}

.form input{
  border-radius: 1rem;
  border: none;
  padding: 1rem;
}